html {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.LYRname {
    font-family: "tempus sans itc", serif !important;
}

a {
    text-decoration: underline
}

.sets {
    text-align: center
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    font-weight: normal;
    text-align: center
}

h1 {
    font-size: 30px
}

h2, h5 {
    font-size: 24px
}

h3, h5 {
    text-align: left
}

h1 img, td img, h3 img {
    vertical-align: middle;
}

ul {
    list-style: disc outside;
    marker-offset: 1px
}

ol.none {
    list-style: none
}

i {
    color: #400007;
}

p {
    font-size: 20px
}

p.float img, p.float svg /*, p.float object */
{
    float: left;
    margin: 5px 10px 5px 10px
}

p.clear {
    text-align: center;
    clear: left;
}

hr {
    clear: left
}

@media print {
    html {
        background-color: white;
        color: black
    }

    h3.nav, hr.scenario, h6.noprint {
        display: none
    }

    div.page_break {
        page-break-after: always
    }

    a {
        text-decoration: none;
        color: black
    }

    a:link, td.name a:visited {
        color: black
    }

    table {
        border-color: black;
        color: black
    }

    table#sets, table#terrain {
        width: 100%
    }

    span.contents {
        background-color: white
    }

    span.contents, td.content_type, td.content_name, td.content_qty, td.name, b.name, b.power_name, td.power_name, b.works_with, div.mop_rules span {
        color: black
    }

    div.mop_rules span {
        font-weight: bold
    }

    td.Einar, td.Jandar, td.Ullar, td.Utgar, td.Vydar,
    table *.move, table *.range, table *.attack, table *.defense {
        background-color: white
    }

    tr {
        page-break-inside: avoid
    }
}